<%= yield "layouts/_header" %>

<p id="notice"><%= notice %></p>

<div class="center"><h1>Be The Show Events and Entertainment!</h1>

<h2>Schedule your event with us! It'll be awesome!</h2>
</div>

<div class="jumbotron center">

<p>Remember, it's not a Glass production until your hopes are shattered like glass!</p>

<p><%= link_to 'Register as a new client', signup_path %></p>
<p>Already a member of the family? <%= link_to 'Set up your next event!', new_event_path %></p>

</div>


