<footer id="footer">
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

      
      <div class="nav navbar-nav navbar-right">
              <ul class="nav navbar-nav">
              	<li>Copyright 2016 Glass Productions, LLC. </li>
              	<li>West Palm Beach, Florida </li>
              	<li>(561) 707-4527</li>
        </ul>
    </div>
    
    
  </div>
</div>
</footer>